doctype 5
html
  head
    meta(charset='utf-8')
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='')

    //
      |css
    link(href='/css/panel.css', rel='stylesheet')
    
    //
       HTML5 shim, for IE6-8 support of HTML5 elements 
    //if lt IE 9
      script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
    //
      |Fav and touch icons 
    link(rel='apple-touch-icon-precomposed', sizes='144x144', href='../assets/ico/apple-touch-icon-144-precomposed.png')
    link(rel='apple-touch-icon-precomposed', sizes='114x114', href='../assets/ico/apple-touch-icon-114-precomposed.png')
    link(rel='apple-touch-icon-precomposed', sizes='72x72', href='../assets/ico/apple-touch-icon-72-precomposed.png')
    link(rel='apple-touch-icon-precomposed', href='../assets/ico/apple-touch-icon-57-precomposed.png')
    link(rel='shortcut icon', href='../assets/ico/favicon.png')

  body
    header
      #logo
      ul#info
        if isAuthenticated
          li#profile-pic
            img(src=githubUser.avatar_url, width='32px', height='32px')
          li
            a(href='/panel') #{__('Hey,')} #{githubUser.login}!
          li &nbsp; - &nbsp; 
          li
            a(href='/logout') #{__('disconnect')}
        else
          li
            a(href='/github_auth') #{__('Connect with Github')}
    #panel
      h2#panel-title= __('repository')
      ul
        each item, i in repoCategories
          li
            a(href='/panel/' + item.name)= item.name

    block content

    footer
      | with <3 in 
      a(href='http://usabli.ca')
        | usabli.ca

    //
      |javascript (Placed at the end of the document so the pages load faster)

    script(src='http://code.jquery.com/jquery-latest.js')
    script(src='/js/bootstrap.min.js')
    script(src='/js/main.js')
    script(src='/js/moment.min.js')
