extends layout
include mixins/message

block content
  #main
    //
      |page message

    mixin message(msg)

    //
      |page content
      
    #content
      .part-title
        h1= __("Manage Repositories")
      .sync
        span#sync-msg
          = __("Last sync:") + " "
          span#sync-time
            if last_github_sync != null
              b
                = moment(last_github_sync).fromNow()
            else
              b
                = __("Never.")
        a.btn(href='/github_sync')
          spnan.icon-refresh
          = __("Sync Now")
      if repos.length > 0
        table
          thead
            tr
              th= __("Name")
              th= __("Language")
              th= __("Revision")
              th= __("Fork?")
              th= __("SourceDoc")
          tbody
            each item, i in repos
              tr
                td
                  a(href=item.html_url, target="_blank")= item.name
                td
                  span(class="lang", style="background-color: " + language_colors[item.language] + ";", class="language-label")= item.language != null ? item.language : __("Unknown")
                td
                  span(class=(repoRevisions[item.github_id].in_progess ? "icon-refresh" : (repoRevisions[item.github_id].success ? "icon-ok" : (repoRevisions[item.github_id].revision == 0 ? "icon-warning-sign" : "icon-remove"))))
                  if (repoRevisions[item.github_id].success) 
                    a(class="revision-number revision-success", href="/" + item.owner.username + "/" + item.name + "/" + repoRevisions[item.github_id].revision + "/")
                      =repoRevisions[item.github_id].revision
                  else if (repoRevisions[item.github_id].in_progress || repoRevisions[item.github_id].revision == 0)
                    span(class="revision-number revision-warning")
                      =repoRevisions[item.github_id].revision
                  else
                    span(class="revision-number revision-error")
                      =repoRevisions[item.github_id].revision
                td
                  span(class=item.is_fork ? "icon-ok" : "icon-remove")
                td
                  button(class="btn sourcedoc-toggle" + (item.sourcedoc_enable ? " active" : ""), data-toggle="button", onclick="javascript:activeSourceDoc.call(this, '" + item.github_id + "');", title=__("Enable/Disable SourceDoc"))
                    span(class = item.sourcedoc_enable ? __("icon-ok-sign") : __("icon-exclamation-sign"))

                  a.btn.btn-small(href=item.html_url + "/settings/hooks", target="_blank", title=__("Hook Setting"), style="margin-left: 5px;")
                    i.icon-wrench
      else 
        p.text-error #{__('Woho! There\'s no repositry here, try to sync it with your Github.')} 
